.default{
    width: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.InputBar{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.Input{
    width: 75%;
    padding: 20px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Settings{
    width: 25%;
    display: flex;
}

@media (max-width: 900px) {
    .default{
        width: 100%;
    }
    .InputBar{
        flex-direction: column;
    }
    .Settings{
        width: 75%;
    }
}