.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.Logo {
    width: 200px;
    height: 50px;
}

.List{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 25px;
}

.Nav {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.NavOpen {
    transform: translateX(0);
    opacity: 1;
}

.Link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.MenuButton {
    display: none;
}

@media (max-width: 768px) {
    .List {
        margin-left: 30px;
        flex-direction: column;
        gap: 10px;
    }

    .Logo{
        width: 120px;
        height: 40px;
    }

    .Cart {
        width: 40px;
        height: 40px;
    }

    .MenuButton {
        display: flex;
    }

    .Nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        transform: translateX(-100%);
        z-index: 1000;
    }

    .NavOpen {
        transform: translateX(0);
    }
}