.Button {
    background-color: #3838d6;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.Container {
    margin: 15px 0;
}